.card-header {
    .btn {
        &.create-user {
            margin-top: -34px;
            i {
                margin-right: 10px;
            }
        }
    }
}

.modal-dialog {
    max-width: 80%;
}






