<div class="card-header">
    <h3>Users list</h3>



    <form [formGroup]="searchFilterForm">
        <div class="row">

            <div class="col-sm-5">
                <label for="role" class="col-form-label">Email:</label>
                <div>
                    <input type="text" formControlName="email">
                    <!-- <input type="text" formControlName="role"> -->
                </div>
            </div>

            <div class="col-sm-5">
                <label for="role" class="col-form-label">Role:</label>
                <div>
                    <ng-select [multiple]="true" formControlName="role">
                        <ng-option *ngFor="let role of roles" [value]="role.type" [disabled]="role.disabled">{{role.type}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-sm-2">
                <label for="role" class="col-form-label">&nbsp;</label>
                <button type="button" class="create-user btn btn-primary float-right" [routerLink]="['/users/create']"><i class="fas fa-user-plus"></i>Create new user</button></div>
        </div>
    </form>
</div>
<!-- <ng2-smart-table class="table table-striped" [settings]="settings" [source]="source" (editConfirm)="onEditConfirm($event)"></ng2-smart-table> -->
<!-- <pagination *ngIf="totalItems > 20" class="pagination-sm" (ngModel)="page" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
</pagination> -->

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                    {{item.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userData | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItems }">
                <td>{{item?.id}}</td>
                <td>{{item?.email }}</td>
                <td>{{item?.profile_type ? item?.profile_type[0] : '--'}}</td>
                <td>{{item?.role}}</td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn"><i class="fas fa-cog"></i></button>
                        <div class="dropdown-content">
                            <a (click)="openModal(infoModal, item, 'user-details-modal')">Details</a>
                            <a [routerLink]="['/users',item.id, 'edit']">Edit</a>
                            <a (click)="openModal(editRoleModal, item, 'change-role-modal'); changeRoleForm.patchValue({userId:item.id,role:item.role})">Change Role</a>
                            <a (click)="openModal(resetPasswordModal, item, 'user-password-detail'); resetPasswordForm.controls['userId'].setValue(item.id)">Reset Password</a>
                            <a (click)="uploadToOrbidal=false; openModal(uploadResultsModal, item, 'upload-result-modal')">Upload Results</a>
                            <a (click)="uploadToOrbidal=true; openModal(uploadResultsModal, item, 'upload-orbidal-modal')">Upload To Orbidal</a>
                            <a (click)="this.openModal(userStatisticsModal, item, 'user-stat-modal'); getUserSessions('')">User Statistics</a>
                            <a (click)="openModal(archiveUserModal, item, 'archieve-modal')">Archive User</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <span *ngIf="userData?.length === 0">No Data Found!</span>

    </table>
</div>

<div class="marketplace-pagi-holder" *ngIf="totalItems>0">
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="5" previousLabel="Previous" nextLabel="Next" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>

<!-- Modal for User Details -->
<ng-template #infoModal>
    <div class="modal-header">

        <h4 class="modal-title">User details - <span *ngIf="!rowData?.full_name">{{ rowData.email }}</span>
            <span *ngIf="rowData.full_name">{{ rowData.full_name }}</span>
        </h4>

        <button class="edit-btn" type="button" [routerLink]="['/users',rowData.id, 'edit']" aria-label="Close">
                        <i class="fas fa-edit"></i>
                    </button>

        <button class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

    </div>

    <div class="modal-body" [ngClass]="{'row': rowData.fullname }">
        <label *ngIf="!rowData.fullname">Profile Details hasn't been created yet, please use edit feature
                        and add them.
                    </label>
        <ng-container *ngFor="let request of reqData">
            <div *ngIf="request != 'id' && request != 'industries' && request !='avatar' && request != 'contacts' && request !== 'cover_img' && request != 'countries' && request != 'keywords' && rowData[request] && rowData[request] !==''" [ngClass]="(request == 'countries') ? 'col-xs-12 padding15': 'col-xs-12 col-sm-6 col-md-4 col-lg-3' + request">
                <div class="info-detail-holder">
                    <label class="main-label">{{ request }}</label>
                <div class="info">
                    <span>{{ rowData[request] }} </span>
                    <span *ngIf="request === 'industry' && rowData[request]">{{ rowData[request].name }} </span>
                    <!-- <span *ngIf="request!=='profile_type'"><input [value]="rowData[request]"> </span>
                            <span *ngIf="request==='profile_type'">
                                    <ng-select [items]="profileType"
                                    bindLabel="name"
                                    bindValue="name" multiple="true"
                                    [(ngModel)]="rowData[request]">
                         </ng-select>
                                
                            </span> -->
                </div>
                </div>
                <div class="row info" *ngIf="request === 'country' && rowData[request]">
                    {{request}}
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>Code: </label></span>
                            <span>{{rowData[request].code}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>Number:</label></span>
                            <span>{{rowData[request].number}}</span>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>alpha2code:</label></span>
                            <span>{{rowData[request].alpha2code}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>alpha3code:
                            </label></span><span>{{rowData[request].alpha3code}}</span></div>
                        </div>
                        
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>Name:
                            </label></span><span>{{rowData[request].name}}</span>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>World Region:
                            </label></span><span>{{rowData[request].world_region}}</span>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>World Region:
                            </label></span><span>{{rowData[request].world_region}}</span>
                        </div>
                        
                        </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>World Subregion:
                            </label></span><span>{{rowData[request].world_subregion}}</span>
                        </div>
                        
                        </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>Other Names:
                            </label></span><span>{{rowData[request].other_names}}</span>
                        </div>
                        
                        </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>Currency ID:
                            </label></span><span>{{rowData[request].currency_id}}</span>
                        </div>
                        
                        </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="detailbxholer">
                            <span><label>World region ID:
                            </label></span><span>{{rowData[request].world_region_id}}</span>
                        </div>
                        
                        </div>
                </div>

                <div class="row info" *ngIf="request == 'contacts' && rowData[request].length>0">
                    <div class="col-xs-12 col-sm-12"><span><label>{{rowData[request][0].contact_type}}:
                                    </label></span><span>{{rowData[request][0].value}}</span></div>
                </div>

                <div class="row info" *ngIf="request == 'keywords' && rowData[request].length>0">
                    <div class="col-xs-12 col-sm-12"><span><label>Name:
                                    </label></span><span>{{rowData[request][0].name}}</span></div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<!--For Edit Role of the User... -->
<ng-template #editRoleModal>
    <div class="modal-header">
        <h4 class="modal-title">Change role Of User - {{ rowData.fullname ? rowData.fullname : rowData.email }}</h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <form [formGroup]="changeRoleForm" novalidate>
        <div class="row info">

            <div class="col-xs-12 col-sm-6 form-group">
                <label>Role</label>
                <select formControlName="role">
                    <option *ngFor="let role of roles" [value]="role.type" [disabled]="role.disabled">{{role.type}}</option>
                </select>
            </div>

        </div>

        <div class="row info">
            <div class="col-xs-12 col-sm-6">
                <button [disabled]="!changeRoleForm.valid" (click)="changeRole()">Change</button>
            </div>
        </div>
    </form>
</ng-template>

<!--For reset password... -->
<ng-template #resetPasswordModal>
    <div class="modal-header">
        <h4 class="modal-title">Reset Password Of User - {{ rowData.fullname ? rowData.fullname : rowData.email }}</h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <form [formGroup]="resetPasswordForm" novalidate>
        <div class="row info">

            <div class="col-xs-12 col-sm-6 form-group">
                <label>New Password</label>
                <input type="password" (input)="matchPassword('new')" formControlName="password">
                <span class="matched-password" *ngIf="resetPasswordForm.controls['password'].value && resetPasswordForm.controls['password'].value.length<6">
                                Password Length should be 6.
                            </span>
            </div>

            <div class="col-xs-12 col-sm-6 form-group">
                <label>Confirm Password</label>
                <input type="password" [ngClass]="{'input-validation': matchedPassword === false}" (input)="matchPassword('confirm')" formControlName="password_confirmation">
                <span class="label label-danger matched-password" *ngIf="matchedPassword === false">Password
                                Not Matched!</span>
                <span class="matched-password" *ngIf="resetPasswordForm.controls['password_confirmation'].value && resetPasswordForm.controls['password_confirmation'].value.length<6">
                                Password Length should be 6.
                            </span>
            </div>

        </div>

        <div class="row info">
            <div class="col-xs-12 col-sm-6">
                <button [disabled]="!resetPasswordForm.valid || !matchedPassword" (click)="changePassword()">Change</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- Modal for Upload Results -->


<ng-template #uploadResultsModal>

    <div class="modal-header">

        <h4 *ngIf="!uploadToOrbidal" class="modal-title">Upload Results -
            <div class="email-name-holder">

                <span>{{ rowData.fullname ? rowData.fullname : rowData.email }}
                                </span> <span *ngIf="rowData.fullname">(</span>
                <span *ngIf="rowData.fullname">{{rowDataObj.email}}</span> <span *ngIf="rowData.fullname">)</span>

            </div>
        </h4>

        <h4 *ngIf="uploadToOrbidal" class="modal-title">Upload to Orbidal -
            <div class="email-name-holder">
                <span>{{ rowData.fullname ? rowData.fullname : rowData.email }}
                            </span> <span *ngIf="rowData.fullname">(</span>
                <span *ngIf="rowData.fullname">{{rowDataObj.email}}</span> <span *ngIf="rowData.fullname">)</span>


            </div>
        </h4>

        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body">
        <label for="file">Choose File</label>
        <input *ngIf="!uploadToOrbidal" #selectFile type="file" id="file" accept=".csv, .xlsx, .xls" (change)="handleFileInput($event.target.files)">
        <input *ngIf="uploadToOrbidal" #selectFile type="file" id="file" accept=".xls,.xlsx, .jpg, .jpeg, .png, .pdf, .csv, .doc, .docx, .pptx, .ppt" (change)="handleFileInput($event.target.files)">
    </div>
    <div class="model-body">
        <p class="this-is-CSV" *ngIf="!uploadToOrbidal && !thisIsCSV">Please Upload type CSV, XLS and XLSX only file </p>
        <p class="this-is-CSV" *ngIf="uploadToOrbidal && !thisIsCSV">Please Upload type XLS, XLSX, JPG, JPEG, PNG, PDF, CSV, DOC, DOCX, PPTX, PPT only file </p>
        <p class="this-is-CSV" *ngIf="!underFileSize">File Size must be under 20MB </p>
        <p class="upload-file-loading" *ngIf="uploadFileLoading">Please Wait... </p>
    </div>
    <div class="modal-body">

        <div class="upload-btn-holder">
            <button class="create-user btn btn-primary upload" [ngClass]="{'upload-disable': !fileToUpload}" [disabled]="!fileToUpload" (click)="uploadFile()">Upload File</button>
        </div>

    </div>

</ng-template>

<!-- Modal for User Statistics -->

<ng-template #userStatisticsModal>


    <div class="modal-header">
        <h4 class="modal-title">User Statistics - <span *ngIf="!rowData.fullname">{{ rowDataObj.email }}</span>
            <span *ngIf="rowData.fullname">{{ rowData.fullname }}</span></h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>

    <div class="modal-body" [ngClass]="{'row': rowData.fullname }">
        <form [formGroup]="statisticFilterForm" class="static_form-holder" novalidate>

            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    <select class="form-control" formControlName="filter">
                            <option value="">All days</option>
                            <option value="30">Past 30 Days</option>
                            <option value="60">Past 60 Days</option>
                            <option value="90">Past 90 Days</option>
                        </select>
                </div>
            </div>

        </form>
        <div class="row">

            <div class="pull-left col-sm-12">
                <div class="row">
                    <ng-container *ngFor="let item of userStatisticsData">
                        <div [ngClass]="'col-xs-12 padding15'" class="col-sm-3" *ngIf="item.key!=='user_id'">
                            <label class="main-label">{{ item.key === 'created_at'?'Origin Date': replaceUnderscore(item.key) }}</label>
                            <div class="info">
                                <span *ngIf="item.key === 'created_at'">{{ item.value | date: 'dd/MM/yyyy' }}
                                            </span>
                                <span *ngIf="item.key !== 'created_at'">{{ item.value }} </span>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>

        </div>
    </div>

</ng-template>

<!-- Modal for Archive user -->
<ng-template #archiveUserModal>

    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body"><label>Are you sure you want to Archive this User - {{ rowData.fullname ? rowData.fullname :rowData.email }} ?</label></div>
    <form novalidate>

        <div class="row info">
            <div class="col-xs-12 col-sm-12 text-left">
                <button (click)="approveModal.hide()">No</button>
                <button class="btn-yes-margin33" (click)="archiveUserEvent()">Yes</button>
            </div>
        </div>
    </form>
</ng-template>