.modal-lg.details-modal {
    max-width: 80%;
    .modal-header{
        font-weight: bold;
        text-transform: uppercase;
        background-color: #d66166;
        color: #fff;
    }
    .modal-body {
        .main-label{
            border-bottom: 2px solid #d66166;
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            text-transform: capitalize;
            margin-top: 15px;
        }
    }
}
a{
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.modal-details{
    .btn{
        height: 30px;
        font-size: 13px;
        color: grey;
    }
}