<div class="card-header">

    <form [formGroup]="searchFilterForm">

        <div class="row top-bar">
            <div class="col-md-4">
                <input type="text" formControlName="email" (input)="this.searchFilterForm.controls['page'].setValue(1)" placeholder="Search by username/email" class="form-control">
            </div>

            <div class="col-md-3">
                <select class="form-control" id="days" formControlName="status" (change)="this.searchFilterForm.controls['page'].setValue(1)">
                    <option *ngFor="let status of statuses" [value]="status.type">{{status.name}}</option>
            </select>

            </div>
            <div class="col-md-3">
                <select class="form-control" id="days" formControlName="all" (change)="this.searchFilterForm.controls['page'].setValue(1)">
                <option value="">Select Type of Request</option >
                <option value="kr">Knowledge Request</option >
                <option value="tender"> Tender Request</option >
            </select>

            </div>

            <div class="col-md-2"> <button (click)="ngOnInit()" class="btn btn-primary">Reset</button></div>
        </div>

    </form>

</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                    {{item.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of requestAssistances | paginate: { itemsPerPage: 20, currentPage: this.searchFilterForm.controls['page'].value, totalItems: totalItems }">
                <td>{{item?.user.fullname }} {{item?.user?.email}}
                </td>
                <td>{{item?.message}}</td>
                <td>
                    <a *ngIf="item.tender_id" class="set-cursor anchor-color" [routerLink]="['/tenders/details', item?.tender_id]">
                        <strong>{{item?.custom_id}} </strong> {{item?.tender_title}}
                    </a>
                    <span *ngIf="!item.tender_id">{{item.custom_id}}</span>
                </td>
                <td class="text-center">{{item?.assistance_assets?.length}}</td>
                <td>{{item?.status | uppercase}}</td>
                <td><i class="far fa-comments set-cursor" title="Go To Chart" [routerLink]="['./',item.id, 'chat']"></i><span class="replies-count">{{item?.replies_count}}</span></td>
            </tr>
        </tbody>
        <span *ngIf="requestAssistances?.length === 0">No Data Found!</span>

    </table>
</div>

<div class="marketplace-pagi-holder" *ngIf="totalItems>0">
    <pagination-controls (pageChange)="searchFilterForm.controls['page'].setValue($event)" maxSize="5" previousLabel="Previous" nextLabel="Next" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>