<div class="card-header">

    <div class="row">
        <div class="col-sm-12">
            <div class="stroy-list-head">
                <h3>{{headerName}}</h3>
                <div class="buton-holder">
                    <!-- <label for="role" class="col-form-label">&nbsp;</label> -->
                    <button type="button" class="create-user btn btn-primary float-right" (click)="clicked(button)" *ngFor="let button of buttons"><i class="fas fa-plus-square"></i>{{button.name}}</button>
                </div>
            </div>
        </div>
    </div>

</div>