<div class="chat-section">
    <h3> <strong>{{assistanceDetails?.custom_id}}</strong> {{assistanceDetails?.tender_title}}
        <app-dropdown-actions title="Download Attached" *ngIf="Object.keys(actions).length" label="Download File" [fileDownload]="true" class="op-dots" [actions]="actions" (onSelect)="downloadFile($event)" (mouseleave)="toggle=false">
            <button class="actions" (mouseleave)="toggle=false"><i class="fas fa-cloud-download-alt"></i></button>
        </app-dropdown-actions>
        <button class="btn btn-primary" (click)="deductCredit()" *ngIf="assistanceDetails?.status === 'opened'">
            Deduct Credit
        </button>
    </h3>

    <label *ngIf="assistanceDetails?.submission_date"> tender closing date: <span class="request-by-text"> {{assistanceDetails?.submission_date | date : 'dd-MM-yyyy'}} </span> </label>

    <label> Requested by: <span class="request-by-text"> {{assistanceDetails?.user?.fullname}} <{{assistanceDetails?.user?.email}}> </span> </label>

    <label> <strong>Message: </strong> <span class="request-by-text"> {{assistanceDetails?.message}} </span></label>

    <div>
        <message [messages]="messages" [unreadCount]="assistanceDetails?.admin_unreads_count"></message>
    </div>

    <div>
        <message-type [assistanceDetails]="assistanceDetails"></message-type>
    </div>
</div>