<div class="com-tndr-lsthldr">
  <div class="exp_csvbtn-holder">
    <button (click)="getCSV()" class="btn btn-primary">Export CSV</button>
    <a id="abc" csvLink filename="Orbidal-Extract.csv" [data]="res" style="visibility: hidden;width: 1px !important;display: inline-block;">Download</a>
  </div>
  <div class="country-comp_sel-holder">
    <form [formGroup]="tenderCompanyForm" novalidate>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <!-- <label for="countries" class="col-form-label">Name/s:</label> -->
          <div class="">

            <ng-select class="search multiple_comp-input" [items]="[]" [multiple]="true" [addTag]="true"
              placeholder="Please enter multiple companies name" formControlName="company_names" [isOpen]="false" (change)="setSearch($event)" (blur)="setTitleOnBlurEvent($event)">
            </ng-select>

          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <!-- <label for="countries" class="col-form-label">Country:</label> -->
          <div class="">

            <ng-select class="geography" autocomplete=off id="geography" [items]="countries" bindLabel="name"
              bindValue="id" labelForId="state" [multiple]="true" [hideSelected]="true" formControlName="country_ids"
              placeholder="Select Countries">
            </ng-select>

          </div>
        </div>
      </div>

    </form>

  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Country</th>
          <th>Email</th>
          <th>Contact Point</th>
          <th>Address</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of tenderCountriesData | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalData }">
          <td>{{item?.company_name ? item?.company_name : '-'}}</td>
          <td>{{item?.country_name ? item?.country_name : '-'}}</td>
          <td>{{item?.email? item?.email : '-'}}</td>
          <td>{{item?.contact_point? item?.contact_point: '-'}}</td>
          <td>{{item?.address ? item?.address : '-'}}</td>
          <td>{{item?.phone? item?.phone: '-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="showWaitingMessage">Please Wait...</p>
  <p *ngIf="showNoRecordMessage">No record found.</p>

  <div class="marketplace-pagi-holder" *ngIf="!showNoRecordMessage">
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="5" previousLabel="Previous" nextLabel="Next"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>