.message-section{
.message-item{max-width: 40%;
.message-wrap{background: #fff; padding:15px; font-size: 14px; display: inline-block; box-shadow: 0 0 15px rgba(0,0,0,0.15); border-radius: 15px;}
}

}

.message-item-right{margin-left: auto; margin-right: 0; text-align: right;
    .right-box{background: #d66166 !important; color: #fff;}
}