<div class="message-section">
    <div class="all-messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <p *ngIf="chatBoxService.messageLoading$ | async" class="message-loading"> <strong>Loading...</strong> </p>
        <div *ngFor="let message of messages; let i = index" class="message-item" [ngClass]="{'message-item-right': message?.admin}" [id]="'target' + i">
            <p class="chat-date" *ngIf="i === 0 || lastDate !== getDate(message?.created_at)"> <strong *ngIf="setLastDate(message?.created_at)"> {{showDate(message?.created_at)}}</strong> </p>
            <p *ngIf="unreadCount>0 && i === ((this.messages.length - 1) - this.unreadCount)" class="chat-date"> <strong> New Message(s)</strong> </p>
            <div class="message-wrap" [ngClass]="{'right-box': message?.admin}">
                <span *ngIf="message?.body">{{message?.body}}
                    <span class="msg-time">{{message?.created_at | date: 'h:mm a'}}</span>
                </span>

                <!-- <span *ngIf="!message?.body && message?.attachments?.length>0">
                    <img [src]="message?.attachments[0]?.file?.url" width="100px" alt="">
                    <div class="download"><a [href]="message?.attachments[0]?.file?.url" target="_blank"><i class="fas fa-cloud-download-alt"></i></a></div>
                </span> -->

                <div *ngIf="!message.body && message?.attachments?.length>0" (click)="downloadFile(message?.attachments[0]?.file_url)" class="chat-attach-file-mt set-cursor">
                    <div class="download"><a><i class="fas fa-cloud-download-alt"></i></a></div>
                    <span class="fl-icon"><i class="far fa-file-image ng-star-inserted" aria-hidden="true"></i></span>
                    <span class="fl-name">{{message?.attachments[0]?.file_name}}</span>
                </div>
            </div>

        </div>

        <div *ngIf="messages.length === 0" class="start-chat">
            Start New Chat
        </div>

    </div>
</div>