.rejectedColor{
    color: red;
}
.acceptedColor{
    color: green;
}
.pendingColor{
    color: #8c8c3d;
}

button.btn.btn-primary {
    margin-left: 10px;
 }

 :host ng2-smart-table thead > tr > th  { 
    background-color:blue;  
}