<div class="card-header">

    <div class="row">
        <div class="col-sm-12">
            <div class="stroy-list-head">
                <h3>Story Groups List</h3>
                <div class="buton-holder">
                    <!-- <label for="role" class="col-form-label">&nbsp;</label> -->
                    <button type="button" class="create-user btn btn-primary float-right set-margin-left10" (click)="openModal(addEditGroupModal, undefined)"><i class="fas fa-plus-square"></i>Create new Story Group</button>
                    <button type="button" class="create-user btn btn-primary float-right" (click)="openModal(includeUsers, undefined)"><i class="fas fa-plus-square"></i>Include Users</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive padding-bottom-250">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                    {{item}}
                </th> -->
                <th class="set-cursor width10">
                    Edit
                </th>
                <th class="set-cursor width50">
                    Name
                </th>
                <th class="set-cursor text-center width10">
                    #Story Board(s)
                </th>
                <th class="set-cursor text-center width10">
                    Archive
                </th>
                <th class="set-cursor text-center width20">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of groups">
                <td>
                    <i class="fas fa-edit set-cursor" (click)="openModal(addEditGroupModal, item)" title="Edit Group"></i>
                </td>
                <td>{{item?.name }}</td>
                <td class="text-center">{{item?.story_boards_count }}</td>
                <td class="text-center">{{item?.archive ? 'Yes' : 'No' }}</td>
                <td class="text-center">
                    <span class="iconn"><i [ngClass]="{'fa-trash-alt' : !item.archive, 'fa-undo' : item.archive }" class="fas fa-trash-alt set-cursor" (click)="openModal(archiveGroupModal, item)" [title]="!item.archive ? 'Archive Story Group' : 'Withdraw Story Group'"></i></span>
                    <a class="iconn" [title]="item.story_users_count +  ' User(s)'" [routerLink]="['/bid-academy/story-group', item.id, 'users']"><i class="fas fa-users"></i></a>
                </td>


            </tr>
            <tr>
                <td colspan="5" class="transparent">
                    <div *ngIf="groups?.length === 0" class="no-data">No Data Found!</div>
                </td>
            </tr>
        </tbody>


    </table>
</div>

<!-- <div class="marketplace-pagi-holder" *ngIf="totalItems>0">
  <pagination-controls (pageChange)="pageChanged($event)" maxSize="5" previousLabel="Previous" nextLabel="Next" screenReaderCurrentLabel="You're on page">
  </pagination-controls>
</div> -->

<!-- Modal for ADD/EDIT Story Group -->

<ng-template #addEditGroupModal>


    <div class="modal-header">

        <h4 class="modal-title">{{groupForm.value.id ? 'Edit' : 'Create'}} Story Group</h4>

        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row modal-body create_modal-body">
        <form [formGroup]="groupForm" class="static_form-holder" novalidate>

            <div class="row info">

                <div class="col-xs-12 col-sm-12 form-group">
                    <label>Story Group Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
            </div>

            <div class="row info">
                <div class="col-xs-12 col-sm-12">
                    <!-- <button class="btn" (click)="bsModalRef.hide()">Close</button> -->
                    <button class="btn btn-yes-margin33" [ngClass]="{'disabled': (groupForm.invalid || loading) }" [disabled]="groupForm.invalid || loading" (click)="submitGroup()">Save</button>
                </div>
            </div>

        </form>

    </div>

</ng-template>

<!-- Modal for Delete Story Group -->
<ng-template #archiveGroupModal>

    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body"><label>Are you sure you want to {{!groupForm.value.archive ? 'Archive' : 'Withdraw'}} this?</label></div>

    <div class="row info">
        <div class="col-xs-12 col-sm-12 text-left">
            <button class="btn btn-secondary" (click)="bsModalRef.hide()">No</button>
            <button class="btn btn-yes-margin33 btn-primary" (click)="archiveStory()">Yes</button>
        </div>
    </div>
</ng-template>

<!-- Modal for Include Users -->
<ng-template #includeUsers>
    <div class="modal-header">
        <h4 class="modal-title pull-left">INCLUDE USERS FOR STORY GROUP(S)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body include_modal-body">
        <form [formGroup]="includeUsersForm" novalidate>

            <div class="used-selectbr repo-used-selectbr">
                <label>Select Stories: </label>

                <ng-multiselect-dropdown [placeholder]="'Select Stories'" [data]="groups" formControlName="story_ids" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="used-selectbr repo-used-selectbr">
                <label>Select Users: </label>

                <ng-multiselect-dropdown [placeholder]="'Select Users'" [data]="usersList" formControlName="user_ids" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="button-holder set-save-btn">
                <button class="upload_btn" [ngClass]="{'disabled': includeUsersForm.invalid}" [disabled]="includeUsersForm.invalid" (click)="includeUsersEvent()">Save</button>
            </div>
        </form>

    </div>
</ng-template>