<div class="card card-accent-primary">
    <div class="card-header">

        <h3>{{!boardId ? 'Create New' : 'Edit'}} Story Board</h3>

    </div>
    <div class="card-body">
        <form [formGroup]="storyBoardForm" novalidate>

            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <label for="story_id" class="col-form-label">Select Group: </label>
                    <div class="">

                        <select formControlName="story_id" id="story_id" class="form-control">
                            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                        </select>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                    <label for="title" class="col-form-label">Title: </label>
                    <div class="">
                        <input type="text" formControlName="title" class="form-control" id="title">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <label for="description" class="col-form-label">Description: </label>
                    <div class="">
                        <textarea rows="6" formControlName="description" class="form-control" id="description" placeholder=""></textarea>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6">
                    <label for="tags" class="col-form-label">Select Tags: </label>
                    <div class="">
                        <!-- <select formControlName="tags_attributes" id="tags" class="form-control">
                            <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
                        </select> -->

                        <ng-select [items]="tagsArray" formControlName="tags_attributes" [multiple]="true" [addTag]="true"></ng-select>

                        <!-- <ng-multiselect-dropdown [placeholder]="'Please select multiple'" [data]="tags" formControlName="tags_attributes" [settings]="dropDownSettings" (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown> -->
                    </div>
                </div>

            </div>

            <div class="form-group row margin-t20">
                <div class="col-12">
                    <button type="submit" [disabled]="storyBoardForm.invalid" class="btn btn-primary" (click)="submitForm()">Submit</button>
                    <a class="btn btn-secondary set-margin-left10" routerLink="/bid-academy/story-boards-list">Cancel</a>
                </div>
                <!-- <div class="col-12" *ngIf="created">
                  <a routerLink="/users/list" class="btn btn-secondary">Back</a>
              </div> -->
            </div>

        </form>
    </div>
</div>