<div class="card">
    <div class="card-header">

        <h3>{{!boardId ? 'Create New' : 'Edit'}} Document

            <app-dropdown-actions title="Download Attached" [deleteIcon]="true" *ngIf="Object.keys(actions).length" label="Download File" [fileDownload]="true" class="op-dots" [actions]="actions" (onSelect)="downloadFile($event)" (deleteSelect)="findSelectedFile($event)"
                (mouseleave)="toggle=false">
                <button class="actions" (mouseleave)="toggle=false"><i class="fas fa-cloud-download-alt"></i></button>
            </app-dropdown-actions>

        </h3>

        <div class="buton-holder">

            <button type="submit" [disabled]="storyBoardForm.invalid" class="create-user btn btn-primary float-right set-margin-left10" (click)="submitForm()">Save</button>
            <a class="btn btn-secondary create-user float-right set-margin" routerLink="/bid-academy/documents-list">Back</a>
        </div>

    </div>
    <div class="card-body">
        <form [formGroup]="storyBoardForm" novalidate>

            <div class="row">

                <div class="col-xs-12 col-sm-6">

                    <div class="title-container">
                        <label for="title" class="col-form-label">Title: </label>
                        <div class="">
                            <input type="text" formControlName="title" class="form-control" id="title">
                        </div>
                    </div>

                    <div class="group-container">
                        <label for="story_id" class="col-form-label">Select Pathway: </label>
                        <div class="group-tags-holder">
                            <span class="arrow-wrapper"></span>
                            <select formControlName="story_id" id="story_id" class="form-control">
                                <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="tags-container">
                        <label for="tags" class="col-form-label">Select Tags: </label>
                        <div class="">
                            <!-- <select formControlName="tags_attributes" id="tags" class="form-control">
                                <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
                            </select> -->

                            <ng-select [items]="tagsArray" formControlName="tags_attributes" [multiple]="true" [addTag]="true"></ng-select>

                            <!-- <ng-multiselect-dropdown [placeholder]="'Please select multiple'" [data]="tags" formControlName="tags_attributes" [settings]="dropDownSettings" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown> -->

                        </div>
                    </div>


                </div>

                <div class="col-xs-12 col-sm-6">
                    <label for="description" class="col-form-label">Description: </label>
                    <div class="">
                        <!-- <textarea rows="8" formControlName="description" class="form-control" id="description" placeholder=""></textarea> -->

                        <ckeditor [editor]="Editor" *ngIf="Editor" data="<p>Hello, world!</p>" formControlName="description" [config]="ckEditorConfig"></ckeditor>
                    </div>
                </div>
            </div>

            <!-- <div class="row">

                <div class="col-xs-12 col-sm-6">

                    <label for="file-upload" class="col-form-label atch_doc">
                         Attach Document(s): <span><i class="fas fa-paperclip paper set-cursor"></i></span>
                        </label>
                    <input #attachInput multiple type="file" accept=".jpg, .jpeg, .png, .xls, .xlsx, .pdf, .csv, .doc, .docx, .pptx, .ppt" class="upload-file-input" id="file-upload" (change)="handlerAttachFile()">

                    <span *ngIf="uploadedFiles.length>0" class="loading-fl loading-text">{{uploadedFiles.length}} File(s) Uploading...</span>

                    <div *ngIf="attachFiles.length>0" class="attach-lm" style="position: relative;">
                        <ng-container *ngFor="let item of attachFiles; let i = index">
                            <label class="pop-request-attach" style="position: relative;">
                                <span class="fl-name">{{item.name}} - Uploaded</span>  
                                <span class="pop-attach-ico">
                                    <i *ngIf="!spinLoadHandler(item.name)" (click)="deleteAssistanceFile(i, item)" class="far fa-window-close set-cursor cancel-color"></i> 
                                </span>
                                <div class="spinner-border text-danger" *ngIf="spinLoadHandler(item.name)"></div>
                            </label>
                        </ng-container>
                    </div>
                </div>

            </div> -->

            <!-- <div class="form-group row subcanc-btn">
                <div class="col-12">
                    <button type="submit" [disabled]="storyBoardForm.invalid" class="btn btn-primary" (click)="submitForm()">Submit</button>
                    <a class="btn btn-secondary set-margin-left10" routerLink="/bid-academy/documents-list">Cancel</a>
                </div>
            </div> -->
            <div class="card-header">


                <div class="buton-holder">

                    <button type="submit" [disabled]="storyBoardForm.invalid" class="create-user btn btn-primary float-right set-margin-left10" (click)="submitForm()">Save</button>
                    <a class="btn btn-secondary create-user float-right set-margin" routerLink="/bid-academy/documents-list">Back</a>
                </div>
            </div>

        </form>
    </div>
</div>