<div class="card card-accent-primary">
    <div class="card-header">

        <h3>{{!boardId ? 'Create New' : 'Edit'}} Story Board

            <app-dropdown-actions title="Download Attached" [deleteIcon]="true" *ngIf="Object.keys(actions).length" label="Download File" [fileDownload]="true" class="op-dots" [actions]="actions" (onSelect)="downloadFile($event)" (deleteSelect)="findSelectedFile($event)"
                (mouseleave)="toggle=false">
                <button class="actions" (mouseleave)="toggle=false"><i class="fas fa-cloud-download-alt"></i></button>
            </app-dropdown-actions>

        </h3>

    </div>
    <div class="card-body">
        <form [formGroup]="storyBoardForm" novalidate>

            <div class="row">

                <div class="col-xs-12 col-sm-6">

                    <div class="group-container">
                        <label for="story_id" class="col-form-label">Select Group: </label>
                        <div class="group-tags-holder">
                            <span class="arrow-wrapper"></span>
                            <select formControlName="story_id" id="story_id" class="form-control">
                                <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="title-container">
                        <label for="title" class="col-form-label">Title: </label>
                        <div class="">
                            <input type="text" formControlName="title" class="form-control" id="title">
                        </div>
                    </div>
                    <div class="tags-container">
                        <label for="tags" class="col-form-label">Select Tags: </label>
                        <div class="">
                            <!-- <select formControlName="tags_attributes" id="tags" class="form-control">
                                <option *ngFor="let tag of tags" [value]="tag.id">{{tag.name}}</option>
                            </select> -->

                            <ng-select [items]="tagsArray" formControlName="tags_attributes" [multiple]="true" [addTag]="true"></ng-select>

                            <!-- <ng-multiselect-dropdown [placeholder]="'Please select multiple'" [data]="tags" formControlName="tags_attributes" [settings]="dropDownSettings" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown> -->
                        </div>
                    </div>
                    

                </div>

                <div class="col-xs-12 col-sm-6">
                    <label for="description" class="col-form-label">Description: </label>
                    <div class="">
                        <textarea rows="8" formControlName="description" class="form-control" id="description" placeholder=""></textarea>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <!-- <label for="description" class="col-form-label">Attach Document(s): </label>
                    <div class="">
                        <textarea rows="6" formControlName="description" class="form-control" id="description" placeholder=""></textarea>
                    </div> -->

                    <label for="file-upload" class="col-form-label atch_doc">
                        <span><i class="fas fa-paperclip paper set-cursor"></i></span> Attach Document(s):
                        </label>
                    <input #attachInput multiple type="file" accept=".jpg, .jpeg, .png, .xls, .xlsx, .pdf, .csv, .doc, .docx, .pptx, .ppt" class="upload-file-input" id="file-upload" (change)="handlerAttachFile()">

                    <span *ngIf="uploadedFiles.length>0" class="loading-fl">{{uploadedFiles.length}} File(s) Uploading...</span>

                    <ngx-spinner class="set-ngx-spinner" bdColor="rgba(255,255,255,0.8)" size="small" color="#d66166" type="ball-clip-rotate" fullScreen="false">
                        <!-- <p style="color: white"> Loading... </p> -->
                    </ngx-spinner>

                    <div *ngIf="attachFiles.length>0" class="attach-lm">
                        <ng-container *ngFor="let item of attachFiles; let i = index">
                            <label class="pop-request-attach">
                      <span class="fl-name">{{item.name}} - Uploaded</span>  
                      <span class="pop-attach-ico">
                        <i *ngIf="!spinLoadHandler(item.name)" (click)="deleteAssistanceFile(i, item)" class="far fa-window-close set-cursor cancel-color"></i> 
                        <!-- <mat-spinner *ngIf="spinLoadHandler(item.name)" diameter="13" class="o-spin"></mat-spinner> -->
                      </span>
                    </label>
                        </ng-container>
                    </div>
                </div>

            </div>

            <div class="form-group row subcanc-btn">
                <div class="col-12">
                    <button type="submit" [disabled]="storyBoardForm.invalid" class="btn btn-primary" (click)="submitForm()">Submit</button>
                    <a class="btn btn-secondary set-margin-left10" routerLink="/bid-academy/story-boards-list">Cancel</a>
                </div>
                <!-- <div class="col-12" *ngIf="created">
                  <a routerLink="/users/list" class="btn btn-secondary">Back</a>
              </div> -->
            </div>

        </form>
    </div>
</div>