<div class="document_list-holder">
  <div class="buttons-holder">
    <button class="exclude_btn" role="button" (click)="excludeUsersOpenModal(excludeUsers)">Exclude Users</button>
    <button class="upload_btn" role="button" (click)="uploadDocsOpenModal(uploadDocs)">Upload Docs</button>
  </div>


  <div class="list_contbx-holder">
    <div class="row">
      <div class="col-md-12 cstm_pdng">
        <app-documents *ngFor="let document of documentsList" [document]="document"></app-documents>
      </div>
    </div>

  </div>

</div>


<ng-template #uploadDocs>
  <div class="modal-header">
    <h4 class="modal-title pull-left">UPLOAD TO ORBIDAL FOR ALL USERS</h4>
    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
    <button type="button" class="close pull-right" aria-label="Close" (click)="uploadDocsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <p class="chose_filetx">Choose Multiple Files</p>
    <input type="file" name="img" (change)="handleFilesInput($event.target.files)" multiple>
    <div class="button-holder">
      <button class="upload_btn" role="button" (click)="uploadDocuments()">Upload Doc</button>
    </div> -->
    <file-uploader (onCompleteItem)="onCompleteItem($event)"></file-uploader>
  </div>
</ng-template>

<ng-template #excludeUsers>
  <div class="modal-header">
    <h4 class="modal-title pull-left">UPLOAD TO ORBIDAL -</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <button type="button" class="close pull-right" aria-label="Close" (click)="excludeUsersModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="used-selectbr repo-used-selectbr">
      <p>Folder:</p>
    </div>
    <div class="button-holder">
      <button class="upload_btn" role="button" (click)="uploadDocuments()">Upload Doc</button>
    </div>
  </div>
</ng-template>