.list_contbx-holder {
    padding: 0 20px 20px;
    background: #f9f9fa;
}
.buttons-holder {
    background: #f9f9fa;
    padding: 15px;
    text-align: right;
}
.buttons-holder button {
    padding: 6px 12px;
    min-width: 130px;
    border: 1px solid #d66166;
    margin-left: 10px;
    background: transparent;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.buttons-holder .upload_btn {
    background: #d66166;
    color: #fff;
}
.buttons-holder .exclude_btn {
    color: #d66166;
}
.buttons-holder button:hover {
    background: #ce4349;
    border: 1px solid #ce4349;
    color: #fff;
}
input[type=checkbox], input[type=radio] {
    display: block;
    opacity: 0;
    height: 0;
}
.file-cancel .dd-menu {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background: white;
    list-style-type: none;
    right: 8px;
    top: 40px;
    min-width: 150px;
    z-index: 1;
}
.file-cancel .dd-menu li {
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
}
.file-cancel .dd-menu li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2f4563;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.file-cancel .dd-menu li:hover {
    background-color: #f6f6f6;
}
.modal-header {
    background: #d66166;
    color: #fff;
    flex-wrap: wrap;
}
.modal-header .modal-title {
    min-width: 100%;
}
.modal-header p {
    margin: 4px 0 0;
    font-weight: 500;
    line-height: 18px;
}
.modal-header .close {
    position: absolute;
    top: 0;
    right: 16px;
    opacity: 0.8;
}
.modal-header .close:hover, .modal-header .close:focus {
    opacity: 1;
}
.modal-header .close span {
    color: #fff;
}
.button-holder {
    padding: 26px 0 0;
}
.button-holder .upload_btn {
    background: #d66166;
    color: #fff;
    padding: 6px 12px;
    min-width: 100px;
    border: 1px solid #d66166;
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.repo-used-selectbr {
    padding-bottom: 20px;
}
.find-tag-holder p {
    font-size: 15px;
    margin: 0 0 5px;
    color: #424242;
    font-weight: 500;
}
.multiselect-dropdown {
    position: relative;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
}
.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-color: rgba(151,151,151,.27)!important;
    border-radius: 0!important;
    min-height: 46px;
    color: #424242;
    font-size: 16px;
}
.multiselect-dropdown .dropdown-btn .selected-item {
    background: #d66166 !important;
    border: 1px solid #d66166 !important;
    margin-bottom: 3px;
    padding: 0 5px;
    color: #fff;
    border-radius: 2px;
    float: left;
    margin-right: 4px;
}
.cstm_pdng {
    padding: 0 5px;
}

// For Multiple File select...
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }