<div class="message-section">
    <form [formGroup]="textMessageForm" novalidate>
        <div class="message-txt">
            <textarea *ngIf="assistanceDetails?.status === 'opened'" placeholder="Text Message" formControlName="body" (keyup.enter)="createAssistanceComments(undefined, $event)" (keydown.enter)="$event.preventDefault();" row="5"></textarea>
            <span *ngIf="assistanceDetails?.status === 'closed'">Request Is closed!</span>
        </div>
    </form>
</div>
<div *ngIf="assistanceDetails?.status === 'opened'" class="all-buttons">
    <ul>
        <!-- <li>
            <button class="btn btn-primary" (click)="deductCredit()">
                Deduct Credit
            </button>
        </li> -->
        <li>
            <button class="btn btn-primary" (click)="closeAssistance()">
                Close Request
            </button>
        </li>
        <li>
            <label><i class="fas fa-paperclip"></i>
                <input type="file" size="60" (change)="handleFileInput($event.target.files)">
            </label>
        </li>
        <li>
            <button class="send-btn" [disabled]="!textMessageForm.valid" (click)="createAssistanceComments(undefined, undefined)">
                <i class="fas fa-paper-plane"></i>
            </button>
        </li>
    </ul>
</div>