<div class="card-header">

    <div class="row align-items-center">
        <div class="col-sm-6">
            <h3 style="margin: 0;">Orbidal Group List</h3>
        </div>
        <div class="col-sm-6">
            <button type="button" class="create-user btn btn-primary float-right" (click)="openAddEditModal(createORBGroup, undefined)"><i class="fas fa-user-plus"></i>Create new Group</button>
        </div>
    </div>
</div>

<div class="table-responsive padding-bottom-250">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                    {{item.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of groups | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalData }">
                <td>
                    <i class="fas fa-edit set-cursor" title="Edit Group Name" (click)="openAddEditModal(createORBGroup, item)"></i>
                </td>
                <td>{{item?.name }}</td>
                <td>{{item?.company_count}}</td>
                <td>
                    <span class="iconn"><i class="fas fa-building set-cursor" title="Add New Company(s)" (click)="openConfirmDeleteORBGroupModal(includeCompanies, item, 'get-detail')"></i></span>
                    <span class="iconn"><i class="fas fa-trash-alt set-cursor" title="Delete Group" (click)="openConfirmDeleteORBGroupModal(deleteORBGroupModal, item, undefined)"></i></span>
                </td>
            </tr>
            <td colspan="4" class="transparent">
                <div *ngIf="groups?.length === 0" class="no-data">No Groups to show!</div>
            </td>
        </tbody>
    </table>
</div>

<div class="marketplace-pagi-holder" *ngIf="totalData>0">
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="5" previousLabel="Prev" nextLabel="Next" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div>

<!-- Modal for Create New Orbidal Group -->
<ng-template #createORBGroup>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{!editGroup?.id ? 'Create New' : 'Edit'}} Orbidal Group</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createORBGroupModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="used-selectbr repo-used-selectbr">
            <form [formGroup]="ORBGroupForm">

                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Group Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" formControlName="name" placeholder="" type="text" ng-reflect-name="name">
                    </div>
                </div>

            </form>
        </div>
        <div class="button-holder">
            <button class="upload_btn" [ngClass]="{'disabled': ORBGroupForm.invalid}" [disabled]="ORBGroupForm.invalid" (click)="saveOrbidalGroups()">Save</button>
        </div>
    </div>
</ng-template>

<!-- Modal for Delete ORB Group -->
<ng-template #deleteORBGroupModal>

    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" (click)="createORBGroupModalRef.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body"><label>Are you sure you want to Delete this ORB Group - {{ editGroup?.name}} ?</label></div>
    <form novalidate>

        <div class="row info">
            <div class="col-xs-12 col-sm-12 text-left">
                <button (click)="createORBGroupModalRef.hide()">No</button>
                <button class="btn-yes-margin33" (click)="deleteOrbidalGroups()">Yes</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- Modal for Includes Company(s) -->
<ng-template #includeCompanies>
    <div class="modal-header">
        <h4 class="modal-title pull-left include-company-header">ADD COMPANY(S) TO <span class="include-company-header-span"> {{editGroup?.name}} </span> GROUP </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createORBGroupModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="used-selectbr repo-used-selectbr">
            <p>Select Company(s): </p>

            <ng-multiselect-dropdown [placeholder]="'Select Companies'" [data]="companies" [(ngModel)]="selectedCompanies" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>

        </div>
        <div class="button-holder">
            <button class="upload_btn" (click)="includeCompaniesORBGroup()">Save</button>
        </div>
    </div>
</ng-template>