// Here you can add other styles

.navbar {
  .form-inline {
    i {
      color: $navbar-color;
    }

    .form-control {
      margin-top: -3px;
      color: $navbar-color;
      border: 0;

      &::placeholder {
        color: $navbar-color;
      }
    }

    .form-control::-webkit-input-placeholder {
      color: $navbar-color;
    }

    .form-control:-moz-placeholder {
      color: $navbar-color;
    }

    .form-control::-moz-placeholder {
      color: $navbar-color;
    }

    .form-control:-ms-input-placeholder {
      color: $navbar-color;
    }
  }

  .nav-item {
    .nav-link.nav-pill {
      width: 32px;
      height: 32px;
      padding: 0;
      line-height: 32px;
      border: 1px solid $navbar-color;
      border-radius: 50em;

      &:hover {
        border-color: $navbar-hover-color;
      }

      .badge-pill {
        margin-top: -18px;
        margin-left: -5px;
        border: 2px solid #fff !important;
        line-height: 14px;
      }

      &.avatar {
        width: 38px;
        height: 38px;

        img {
          width: 36px;
          height: 36px;
          margin: 0;
          border: 0;
        }

        .badge {
          margin-top: -22px;
          margin-left: 5px;
        }

        &.dropdown-toggle:after {
          display: none;
        }
      }
    }
  }
}

.sidebar .sidebar-nav .nav {
  .nav-title {
    span {
      position: relative;
      display: inline-block;

      &:after,
      &:before {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 1px;
        margin-top: -1px;
        content: '';
        border-bottom: 1px solid $sidebar-nav-title-color;
      }

      &:before {
        left: -30px;
      }

      &:after {
        right: -30px;
      }
    }
  }
}

.modal-dialog.upload_modal-holder {
  max-width: 650px;
}

.exclude_modal-holder {
  max-width: 900px;
}

.upload_modal-holder file-drop {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload_modal-holder h1 {
  font-size: 20px;
  color: #d66166;
}

.upload_modal-holder .or {
  font-size: 12px;
  margin: 0;
}

.upload_modal-holder .drop-zone {
  height: auto !important;
  width: 100%;
  border: 2px dotted #d66166 !important;
  border-radius: 20px !important;
}

.upload_modal-holder .drag-contbx {
  padding-left: 15px;
  text-align: center;
  width: 100%;
}

.upload_modal-holder .content {
  height: auto !important;
  color: #3b3b3b !important;
  padding: 0 !important;
}

.upload_modal-holder .addfile-btn .button,
.upload_modal-holder h3 {
  display: block;
  font-size: 16px;
  color: #545454;
  font-weight: 600;
  cursor: pointer;
  margin: 0;
}

.upload_modal-holder h3 {
  margin-bottom: 15px;
}

.upload_modal-holder .addfile-btn input,
.upload_modal-holder .addfile-btn textarea {
  outline: none;
  color: #4e4e4e;

  display: none;
}

.upload_modal-holder .col-md-9 {
  flex: 0 0 100%;
  max-width: 100%;
}

.drag_file-holder {
  width: 100%;
  margin: 0;
  cursor: pointer;
  padding: 10px 0 15px !important;
}

.upload_modal-holder table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

.upload_modal-holder .upload-btn,
.upload_modal-holder .upload-btn.disabled:hover {
  background: #d66166;
  color: #fff;
  border: 1px solid #d66166;
  padding: 6px 20px;
}

.upload_modal-holder .button-clear,
.upload_modal-holder .button-clear.disabled:hover {
  background: transparent;
  padding: 6px 20px;
  color: #d66166;
  border: 1px solid #d66166;
  margin-right: 10px;
  min-width: 90px;
}

.upload_modal-holder .popup_btn-holder button:hover {
  background: #ce4349;
  color: #fff;
  border: 1px solid #ce4349;
}

.upload_modal-holder table th {
  background: #d4d4d4;
  color: #545454;
  padding: 10px 6px;
  border-bottom: 1px solid #b5b5b5;
}

.upload_modal-holder table td {
  padding: 6px;
  border-bottom: 1px solid #d0d0d0;
}

.upload_modal-holder table button {
  background: transparent;
  border: none;
}

.upload_modal-holder table button i {
  color: #d66166;
}

.upload_modal-holder table tr td:nth-child(1) {
  word-break: break-all;
}

.disabled {
  cursor: not-allowed;
  opacity: .6;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
  color: #d66166 !important;
  border: 2px solid #d66166 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #d66166 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #d66166 !important;
  background: #d66166 !important;
  margin-bottom: 3px !important;
}

.dropdown-value,
.ng2-tag-input,
input.custom-dropdown {
  display: block;
  width: 100%;
  padding: .375rem .75rem !important;
  font-size: .875rem;
  line-height: 1.5;
  color: #3e515b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e6ef;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: 2px solid #e1e6ef !important;
}

.ng2-tag-input .ng2-tag-input__text-input {
  height: 32px;
}

#industry {
  border: none;
}

.dropdown-list ul li button,
.input-styles ul li button {
  border: none;
}

.tab-contbx-holder .head,
label {
  font-size: 11px;
  color: #586d79;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  font-family: Roboto,sans-serif;
  letter-spacing: .01em;
}

tag:not(.readonly):not(.tag--editing):focus {
  background: #d66166 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 3px 1px #d4d1d1 !important;
  box-shadow: 0 2px 3px 1px #d4d1d1 !important;
}

.activity-holder .drop-zone {
  height: auto!important;
  margin: auto;
  border: none!important;
  border-radius: 30px;
}

.content {
  height: auto !important;
}

.international-select .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: none !important;
}

.international-select .multiselect-dropdown .dropdown-btn {
  background-image: url("../assets/img/logo-white-transparent.png") !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 15px) center;
  border-color: #e1e6ef !important;
  border-radius: 0 !important;
}

.marketplace-pagi-holder .ngx-pagination {
  padding: 0;
  text-align: right;
}

.marketplace-pagi-holder .ngx-pagination .current {
  background: #d66166 !important;
}

.marketplace-pagi-holder .ngx-pagination a,
.marketplace-pagi-holder .ngx-pagination button {
  text-decoration: none;
}

.geography input {
  cursor: pointer !important;
}
.marketplace-pagi-holder .ngx-pagination li {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0;
  margin-left: -1px;
}
.marketplace-pagi-holder .ngx-pagination li.current {
  border-color: #d66166 !important;
}
.marketplace-pagi-holder .ngx-pagination li.small-screen {
  display: none;
}


// 

.user-details-modal, .user-stat-modal {
  max-width: 80%;
  .modal-header{
      font-weight: bold;
      text-transform: uppercase;
      background-color: #d66166;
      color: #fff;
      .close{
        font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-shadow: unset;
    opacity: 1; margin: 0; padding:0;
      }
      button.edit-btn {
        border: none;
        background: none;
        color: #fff;
        font-size: 14px;
        position: absolute;
        right: 32px;
        top: 20px;
    }
  }
  .modal-body {
    padding: 12px 35px;
      .main-label{
          font-size: 14px;
          width: 100%;
          text-transform: capitalize;
          margin-top: 15px;
          background: #d66166;
          color: #fff;
          padding: 2px 15px;
          margin-bottom: 0;
      }
      .info {
          background: #ecf0f5;
          padding: 10px 15px;
          margin: 0;
          word-break: break-all;
      }
  }
}

.change-role-modal{
  max-width: 30%;
  .modal-header{
      font-weight: bold;
      text-transform: uppercase;
      background-color: #d66166;
      color: #fff;
      .close{
        font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-shadow: unset;
    opacity: 1; margin: 0; padding:0;
      }
      button.edit-btn {
        border: none;
        background: none;
        color: #fff;
        font-size: 16px;
    }
  }
  .modal-body {
    padding: 20px; }
      label{
          font-size: 16px;
          width: 100%;
          text-transform: capitalize;
          margin-top: 15px;
          color: #242424;
          padding:0;
          margin-bottom: 0;
      }
      select {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 15px;
        padding: 8px 10px;
    }
      .info {
        padding: 0 20px;
    }
      button{background: #d66066;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 35px;
        margin-bottom: 20px;}
  
}

/* upload result popup css */
.upload-result-modal{
  max-width: 30%;
  .modal-header{
      font-weight: bold;
      text-transform: uppercase;
      background-color: #d66166;
      color: #fff;
      .close{
        font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-shadow: unset;
    opacity: 1; margin: 0; padding:0;
      }
      button.edit-btn {
        border: none;
        background: none;
        color: #fff;
        font-size: 16px;
    }
    span{font-size: 14px; text-transform: capitalize;}
  }
  .modal-body {
    padding: 20px; }
      label{
          font-size: 14px;
          width: 100%;
          text-transform: uppercase;
          margin-top: 15px;
          color: #242424;
          padding:0;
          margin-bottom: 0;
      }
      select {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 15px;
        padding: 8px 10px;
    }
      .info {
        padding: 0 20px;
    }
      button{background: #d66066;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 35px;
        margin-bottom: 20px;}
  
}

/* upload result popup css close */

/* upload to orbidal popup css */
.upload-orbidal-modal, .undefined{
  max-width: 40%;
  .modal-header{
      font-weight: bold;
      text-transform: uppercase;
      background-color: #d66166;
      color: #fff;
      .close{
        font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-shadow: unset;
    opacity: 1; margin: 0; padding:0;
      }
      button.edit-btn {
        border: none;
        background: none;
        color: #fff;
        font-size: 16px;
    }
    span{font-size: 14px; text-transform: capitalize;}
  }
  .modal-body {
    padding: 20px; }
      label{
          font-size: 14px;
          width: 100%;
          text-transform: uppercase;
          margin-top: 15px;
          color: #242424;
          padding:0;
          margin-bottom: 0;
      }
      select {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 15px;
        padding: 8px 10px;
    }
      .info {
        padding: 0 20px;
    }
      button{background: #d66066;
        border: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 5px 35px;
        margin-bottom: 20px;}
  .text-center{margin:20px 0 0 0;}
}

/* upload to orbidal popup css close */

.user-password-detail {
  max-width: 50%;
  .modal-header{font-weight: 700;
    text-transform: uppercase;
    background-color: #d66166;
    color: #fff;}
    .close{padding: 0; margin: 0; font-size: 1.3125rem;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-shadow: unset; opacity:1;}
 form {
  padding: 20px 20px 40px;
}
span{font-size: 14px; text-transform: capitalize;}
 label {
  display: block;
  margin-bottom: 0;
  font-size: 13px;
}

 input {
  width: 100%;
  outline: none;
  padding: 8px; margin: 4px 0 0 0;
}

 form button {
  background: #d66066;
  border: 1px solid #c75358;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 5px 35px;
  margin-top: 5px !important;
}

}


a{
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

.modal-details{
  .btn{
      height: 30px;
      font-size: 13px;
      color: grey;
      &:hover{
          color: #fff;
      }
  }
}


/* password css */
.user-password-modal {
  max-width: 50%;
}

.user-password-modal form {
  padding: 20px 20px 40px;
}

.user-password-modal label {
  display: block;
  margin-bottom: 0;
  font-size: 13px;
}

.user-password-modal input {
  width: 100%;
  outline: none;
  padding: 5px;
}

.user-password-modal form button {
  background: #d66066;
  border: 1px solid #c75358;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 5px 35px;
  margin-top: 5px !important;
}
/* password css close */



