<div class="card card-accent-primary">
    <div class="card-header">
        <h3> <span *ngIf="tender?.id"> Edit </span> Tender Details</h3>

    </div>
    <div class="card-body">
        <form [(formGroup)]="tenderForm">

            <div class="row">
                <div class="col-xs-12" *ngFor="let key of object.keys(this.tenderForm.value)" [ngClass]="(key === 'description' || key ==='title') ? 'col-sm-12' : 'col-sm-6'">

                    <label [for]="key" class="col-form-label">
                        {{replaceUnderscore(key)}}
                        
                        <!-- ******************** DO NOT REMOVE ******************* -->
                        <!-- <span *ngIf="key === 'codes'" class="code-finder set-cursor" (click)="showCodeFinderPopup=true; callPopulate(codetype); addClassToBody()"><a>Code Finder</a></span> -->
                        
                    </label>

                    <div class="" *ngIf="key === 'description'">
                        <textarea [formControlName]="key" rows="6" class="form-control" [id]="key" placeholder=""></textarea>
                    </div>

                    <div class="" *ngIf="key !== 'description' && key !== 'codes' && key !== 'tender_urls' && numberType.indexOf(key)<0 && dateType.indexOf(key)<0">
                        <input type="text" [readOnly]="(key === 'organization_name' && tender?.id)? true : false" [formControlName]="key" class="form-control" [id]="key" placeholder="">
                    </div>

                    <div class="" *ngIf="key === 'codes'">
                        <ng-select id="codesDescription" [items]="industryCodes" bindLabel="codes" bindValue="codes" (keyup)="codesInput($event.target.value)" labelForId="state" [multiple]="true" placeholder="Search by Code" [hideSelected]="true" formControlName="codes" (ngModelChange)="setSearch($event)">
                        </ng-select>
                    </div>

                    <div class="" *ngIf="key === 'tender_urls'">
                        <ng-select id="tender_urls" [items]="[]" bindLabel="tender_urls" bindValue="tender_urls" labelForId="state" [multiple]="true" placeholder="Add Urls" [addTag]="true" [hideSelected]="true" formControlName="tender_urls">
                        </ng-select>
                    </div>

                    <div class="" *ngIf="numberType.indexOf(key) >-1">
                        <input type="number" [formControlName]="key" class="form-control" [id]="key" placeholder="">
                    </div>

                    <div class="input-group" *ngIf="dateType.indexOf(key) >-1">
                        <input type="text" class="form-control" #dp="bsDatepicker" [formControlName]="key" bsDatepicker [bsConfig]="bsConfig" [attr.aria-label]="key" [attr.aria-describedby]="key">

                        <div class="input-group-append" bsDatepicker>
                            <span class="input-group-text" [id]="key">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>



                    <!-- <label for="email" class="col-form-label">Email:</label> -->
                    <!-- <div class="input-group">
                        <input type="text" class="form-control" formControlName="email" placeholder="" aria-label="email" aria-describedby="email">
                        <div class="input-group-append">
                            <span class="input-group-text" [ngClass]="{'disabled' : !userId, 'set-cursor' : userId}" id="email" (click)="userId ? (!editEmail ? editEmail=true : resetEmail()) : null">
                                <i *ngIf="!editEmail" class="fas fa-edit"></i>
                                <i *ngIf="editEmail" class="fas fa-undo"></i>
                            </span>
                        </div>
                    </div> -->


                </div>

            </div>

            <div class="form-group row margin-t20">
                <div class="col-12">
                    <button *ngIf="!tender" type="submit" class="btn btn-primary" (click)="submitTenderForm()">Create</button>
                    <button *ngIf="tender" class="btn btn-primary" (click)="submitTenderForm()">Update</button>
                    <a routerLink="/tenders/list" class="btn btn-secondary">Cancel</a>
                </div>
            </div>

        </form>

        <div [ngClass]="{'overlay2': showCodeFinderPopup===true}" (mouseup)="closePopupEvent($event.target.className)">
            <div class="popup popup_codesfinder" *ngIf="showCodeFinderPopup===true">
                <div class="cancel-btn">
                    <button class="close" (click)="showCodeFinderPopup=false; addClassToBody()">×</button>
                </div>
                <div class="">

                    <div class="drop-zone"></div>
                    <div class="content">
                        <div class="activity-holder drag-bx">
                            <div class="popup-bdy-holder">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="modal-body">

                                            <div class="clearfix width100per">
                                                <div id="resultsdiv">

                                                    <div class="drop-down-select">

                                                        <app-select class="input-styles" id="industry" [(ngModel)]="codeTypeName" [ngModelOptions]="{standalone: true}" (ngModelChange)="callPopulate(codeTypeName)" placeholder="Please Select" [items]="['European Codes - CPV', 'US Codes - NAICS', 'UN Codes - UNSPSC']">
                                                        </app-select>
                                                    </div>

                                                    <div class="controlContainer width45per">
                                                        <label class="search-cpv-label" for="searchCPV">

                                                    </label>
                                                        <input id="searchtext" type="text" name="" class="inputBlue width100per" />
                                                    </div>

                                                    <div class="pull-left marginTop24">
                                                        <div class="controlContainer checkbox-inline marginTop10">
                                                            <input type="checkbox" id="searchwhole" />
                                                            <label for="searchwhole">Exact Match</label>
                                                        </div>
                                                        <div class="clear-btn">
                                                            <button type="button" id="searchclear" class="btn btn-default marginTop-7">Clear</button>
                                                        </div>
                                                    </div>

                                                    <label for="searchresults" id="resultslabel"></label>
                                                    <div class="lineGrey"></div>
                                                    <select id="resultslist" size="8"></select>
                                                </div>

                                                <div class="width60per pull-left">

                                                    <label for="treelabel" id="treelabel">Codes stemming from 00000000


                                                </label>
                                                    <div class="cpvContainer" id="browsetable">

                                                        <p class="use-checkbox">
                                                            <strong>Use the checkbox to add a code</strong> or click on a code to see sub-codes
                                                        </p>
                                                        <a title="Top" class="btn btn-default anchor-crsr" id="browsetop" (click)="browseCodes('')">Top</a>
                                                        <div id="treeview"></div>
                                                    </div>
                                                </div>
                                                <div class="width35per pull-right">
                                                    <label for="picklist">
                                                    <h4>Selected codes</h4>
                                                </label>
                                                    <select class="selectedCPV" id="picklist" multiple="multiple" size="10"></select>
                                                    <div class="code-clear-btn">
                                                        <button type="button" class="btn btn-danger" (click)="removeSelected()">Clear</button>
                                                    </div>
                                                    <div class="code-save-btn">
                                                        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>