<div class="card card-accent-primary">
    <div class="card-header">
        <h3>Edit Tender Detaild</h3>
    </div>
    <div class="card-body">
        <form [(formGroup)]="tenderForm">

            <div class="row" *ngIf="tender">
                <div class="col-xs-12 col-sm-6" *ngFor="let key of object.keys(this.tenderForm.value)">
                    <label [for]="key" class="col-form-label">{{replaceUnderscore(key)}}</label>
                    <div class="" *ngIf="key === 'description'">
                        <textarea [formControlName]="key" class="form-control" [id]="key" row="6" placeholder=""></textarea>
                    </div>

                    <div class="" *ngIf="key !== 'description'">
                        <input type="text" [formControlName]="key" class="form-control" [id]="key" placeholder="">
                    </div>


                    <!-- <div [ngSwitch]="typeChecking(key)">
                        <div *ngSwitchCase="'text'">
                            <input type="text" class="form-control" [formControlName]="key" />
                        </div>
                        <div *ngSwitchCase="'textarea'">
                            <textarea type="number" class="form-control" [formControlName]="key"></textarea>
                        </div>
                    </div> -->
                </div>

            </div>

        </form>
    </div>
</div>