<div *ngIf="!authConfirm" class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Registration</h1>
                            <p class="text-muted">Register to use service</p>
                            <!--regForm-->
                            <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                                <div class="input-group mb-3"
                                     [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input type="email" class="form-control" placeholder="email(username)"
                                           name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                                    <div *ngIf="f.submitted && !username.valid" class="help-block">Email is required
                                    </div>
                                </div>
                                <div class="input-group mb-4"
                                     [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" name="password"
                                           [(ngModel)]="model.password" #password="ngModel" required/>
                                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is
                                        required
                                    </div>
                                </div>
                                <div class="input-group mb-4"
                                     [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Confirm password"
                                           name="passwordConfirm" [(ngModel)]="model.passwordConfirm"
                                           #passwordConfirm="ngModel" required/>
                                    <div *ngIf="f.submitted && !passwordConfirm.valid" class="help-block">Password
                                        confirm is required
                                    </div>
                                </div>
                                <div class="input-group mb-4"
                                     [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input type="numbers" class="form-control" placeholder="Phone" name="phone"
                                           [(ngModel)]="model.phone" #phone="ngModel" required/>
                                    <div *ngIf="f.submitted && !phone.valid" class="help-block">phone is required</div>
                                </div>
                                <div class="row">
                                    <div class="col-6 text-right">
                                        <input type="checkbox" name="checkLicense" id="checkLicense"
                                               [(ngModel)]="model.checkLicense" #checkLicense="ngModel" required>
                                        <label for="checkLicense">Terms</label>
                                    </div>
                                    <div class="col-6">
                                        <button [disabled]="loading" class="btn btn-primary px-4">Register</button>
                                        <img *ngIf="loading"
                                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                    </div>
                                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                </div>
                            </form>
                            <!--/regForm-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-auth-confirm *ngIf="authConfirm"></app-auth-confirm>
