<div class="card-header">

    <div class="row">
        <div class="col-sm-12">
            <div class="stroy-list-head">
                <h3>Pathway Group User(s) List</h3>

                <div class="buton-holder">
                    <a class="create-user btn btn-primary float-right" [routerLink]="['/bid-academy/pathway-groups-list']"><i class="fas fa-external-link-alt"></i>Pathway Group List</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="table-responsive padding-bottom-250">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                  {{item}}
              </th> -->
                <th class="set-cursor width80">
                    Users
                </th>
                <th class="set-cursor text-center width20">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of groupUsers">
                <td>{{item.user.full_name }} {{item.user.email}}
                </td>
                <!-- <td class="text-center">{{item?.story_boards_count }}</td> -->
                <td class="text-center">
                    <span class="iconn"><i class="fas fa-trash-alt set-cursor" (click)="openModal(deleteGroupUsersModal, item)" title="Delete User"></i></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="transparent">
                    <div *ngIf="groupUsers?.length === 0" class="no-data text-center">No Data Found!</div>
                </td>
            </tr>
        </tbody>


    </table>
</div>

<!-- Modal for Delete Story Group -->
<ng-template #deleteGroupUsersModal>

    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
    </div>
    <div class="modal-body"><label>Are you sure you want to Delete this User from this Pathway Group?</label></div>

    <div class="row info">
        <div class="col-xs-12 col-sm-12 text-left">
            <button class="btn btn-secondary" (click)="bsModalRef.hide()">No</button>
            <button class="btn btn-yes-margin33 btn-primary" (click)="deleteStoryUser()">Yes</button>
        </div>
    </div>
</ng-template>