<div class="card-header">



    <div class="row">
        <div class="col-sm-12">
            <div class="stroy-list-head">
                <h3>Story Boards List</h3>
                <div class="buton-holder">
                    <!-- <label for="role" class="col-form-label">&nbsp;</label> -->
                    <button type="button" class="create-user btn btn-primary float-right" [routerLink]="['/bid-academy/create-story-board']"><i class="fas fa-plus-square"></i>Create new Story Board</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive padd>ing-bottom-250">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th class="set-cursor" *ngFor="let item of tableHeadNames; let i=index">
                    {{item}}
                </th> -->

                <th class="set-cursor width10"> Edit </th>
                <th class="set-cursor width20"> Title </th>
                <th class="set-cursor width30"> Description </th>
                <th class="set-cursor width20"> Tags </th>
                <th class="set-cursor width10 text-center"> # Attach(s) </th>
                <th class="set-cursor width10 text-center"> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of storyBoardsList">
                <td>
                    <i class="fas fa-edit set-cursor" [routerLink]="['/bid-academy/edit-story-board',item.id]" title="Edit Board"></i>
                </td>
                <td>{{item?.title }}</td>
                <td>{{item?.description}}</td>
                <!-- <td><span class="review-tags">{{tagHandler(item?.tags)}}</span></td> -->
                <td>
                    <span class="review-tags" *ngFor="let tag of item.tags">{{tag.name}}</span>
                    <!-- <span class="review-tags">hello wednesday 08 tag</span>
                    <span class="review-tags">additional test tag Wednesday</span>
                    <span class="review-tags">health</span>
                    <span class="review-tags">medical</span>
                    <span class="review-tags">testing tag</span>
                    <span class="review-tags">hello wednesday 08 tag</span>
                    <span class="review-tags">additional test tag Wednesday</span>
                    <span class="review-tags">health</span>
                    <span class="review-tags">medical</span> -->
                </td>
                <td class="text-center">{{item.story_board_assets.length}}</td>
                <td class="text-center">
                    <span class="iconn"><i class="fas fa-trash-alt set-cursor" (click)="openModal(deleteBoardModal, item)" title="Delete Story Board"></i></span>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="transparent">
                    <div *ngIf="storyBoardsList?.length === 0" class="no-data">No Data Found!</div>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<!-- <div class="marketplace-pagi-holder" *ngIf="totalItems>0">
    <pagination-controls (pageChange)="pageChanged($event)" maxSize="5" previousLabel="Previous" nextLabel="Next" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
</div> -->

<!-- Modal for Delete Board -->
<ng-template #deleteBoardModal>

    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" (click)="approveModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="modal-body"><label>Are you sure you want to Delete this Story Board ?</label></div>

    <div class="row info">
        <div class="col-xs-12 col-sm-12 text-left">
            <button class="btn btn-secondary" (click)="approveModal.hide()">No</button>
            <button class="btn btn-yes-margin33 btn-primary" (click)="deleteBoardEvent()">Yes</button>
        </div>
    </div>
</ng-template>