.stroy-list-head {
    display: flex;
    align-items: center;
}
.stroy-list-head .buton-holder {
    flex: 0 0 200px;
    text-align: right;
}
.stroy-list-head h3 {
    flex: 0 0 calc(100% - 200px);
}
.stroy-list-head .buton-holder i {
    margin-right: 10px;
}
.width20 {
    width: 20%;
}
.width10 {
    width: 10%;
}
.width30 {
    width: 30%;
}
.transparent {
    background: #fff;
    border: none;
    text-align: center;
}
.no-data {
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}