<div class="modal-details">
    <a class="btn btn-outline-primary" data-toggle="modal" (click)="infoModal.show()" title="Details">
        <i class="fas fa-info-circle margin-r10"></i>Details
    </a>
    <div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg details-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Request details - {{ rowData.fullname }}</h4>
                    <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <ng-container *ngFor="let request of reqData" >
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="rowData[request] !== null">
                            <label class="main-label">{{ request }}</label>
                            <div class="info">{{ rowData[request] }}</div>
                        </div>
                    </ng-container>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
